@page "/ConsultOwner"

<div class="card">
    <div class="card-header">
        <h2>Consults of Owner</h2>
    </div>

    <div class="card-body">
        <div class="mb-3">
            <label for="PropietarioId" class="form-label">ID</label>
            <div class="input-group">
                <input type="number" class="form-control" id="PropietarioId" disabled>
                <button type="button" class="btn btn-outline-primary oi oi-magnifying-glass"></button>
                <button type="button" class="btn btn-outline-primary oi oi-reload"></button>
            </div>
        </div>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Propietario ID</th>
                    <th>Nombre</th>
                    <th>Cedula o Pasaporte</th>
                    <th>Contrato <span class="oi oi-code"></span></th>
                    <th>Contactos</th>
                    <th>Telefono</th>
                    <th>Celular</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Juan Alberto Perez de la Cruz</td>
                    <th>424-3227800-7</th>
                    <td>041</td>
                    <td>-</td>
                    <td>809 - 577 - 1234</td>
                    <td>809 - 324 - 8457</td>
                    <td>juanp@gmail.com</td>
                    <td><a href="RegisterOwner"><span class="oi oi-eye"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>