@page "/R_Apartment"

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h3>Registro de Apartamento.</h3>
        </div>
        <div class=card-body>
            @*DepartamentoID*@
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                <label>Departamento ID:</label>
                <div class="input-group mb-3">
                    <InputNumber class="form-control" @bind-Value="departamentoId" aria-describedby="BotonBuscar" />
                    <button class="btn btn-outline-primary" type="button" id="BotonBuscar"><i class="oi oi-magnifying-glass" /></button>
                </div>
            </div>
            @*Propietario*@
            <div class="mb-3">
                <label class="form-label">Propietario:</label>
                <InputSelect class="form-select" @bind-Value="propietario">
                    <option value="" hidden="hidden">Seleccione un propietario</option>
                    @if(L_Propietarios.Count > 0)
                    {
                        @foreach(var item in L_Propietarios)
                        {
                            <option value="@item">@item</option>
                        }
                    }
                    else
                    {
                        <option value="">No hay propietarios disponibles</option>
                    }
                </InputSelect>
            </div>
            @*Estado*@
            <div class="mb-3">
                <label class="form-label" for="estado">Estado:</label>
                <InputText class="form-control" @bind-Value="estado" />
            </div>
            @*Valor*@
            <div class="mb-3">
                <label class="form-label" for="valor">Valor:</label>
                <InputText class="form-control" @bind-Value="valor" />
            </div>
            @*Distribucion*@
            <div class="mb-3">
                <label class="form-label" for="distribucion">Distribucion:</label>
                <InputText class="form-control" @bind-Value="distribucion" />
            </div>
            @*Condominio perteneciente a:*@
            <div class="mb-3">
                <label class="form-label" for="condominio">Condominio perteneciente a:</label>
                <InputText class="form-control" @bind-Value="condominio" />
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <div class="btn-group">
                <button type="submit" class="btn btn-outline-success">Guardar <i class="oi oi-document" /></button>
            </div>
        </div>
    </div>
</div>

@code {
    private int departamentoId;
    private string propietario;
    private string estado;
    private string valor;
    private string distribucion;
    private string condominio;
    private List<string> L_Propietarios = new List<string> { "Jose Bonilla", "Jasson Levid", "Robert Tejada" };

}
