@page "/R_Owner"

<body>
    <div class="position-absolute top-49 start-50"> 

        <div class="card">

            <div class="Top" >   
                <img src="\css\Image\Icon.jpg" >                
            </div> 

        <div> 


            <span>. Propietario Id</span> 
            <span class="etiqueta2"> </span> 
            <span>. Nombres</span>  
        </div>

        <div class="control" >
            <input type="text">
            <span> </span> 
            <input type="text">
        </div>

        <div> 
            <span>. Apellidos </span> 
            <span class="etiqueta1"> </span> 
            <span>. C&oacute;digo del contrato</span>  
        </div>

        <div class="control">
            <input type="text">
            <span> </span> 
            <input type="text">
        </div>

        <div> 
            <span>. Tel&eacute;fono </span> 
            <span class="etiqueta1"> </span> 
            <span>. Celular</span>  
        </div>

        <div class="control">
            <input type="text">
            <span> </span> 
            <input type="text">
        </div>

        <div class="control1">
            <span>. Correo </span>
            <div></div>
            <input type="text" id="miInput">
        </div>


        <div class="control1">
            <span>.  Fecha de adquisición del apartamento. </span>
            <input type="text" id="miInput">
        </div>

        <div class="control4">
            <button class="But"> Guardar</button>
        </div>
        
        </div> 
    </div>
    
</body>