<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProyectoCondominios</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="R_Condominium">
                <span class="oi oi-plus" aria-hidden="true"></span>Condominiums register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="C_Condominiums">
                <span class="oi oi-plus" aria-hidden="true"></span>Condominiums consult
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="C_Departments">
                <span class="oi oi-plus" aria-hidden="true"></span>Departments consult
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="C_Owner">
                <span class="oi oi-plus" aria-hidden="true"></span> Owners consult
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="R_Apartment">
                <span class="oi oi-plus" aria-hidden="true"></span> Apartment register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="R_Owner">
                <span class="oi oi-plus" aria-hidden="true"></span> Owner register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="R_Event">
                <span class="oi oi-plus" aria-hidden="true"></span> Event register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="C_Events">
                <span class="oi oi-plus" aria-hidden="true"></span> Events register
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}